streamlit <= 1.23.1
# streamlit-aggrid==0.3.4.post3
# streamlit-authenticator==0.4.1
# extra-streamlit-components==0.1.71
pandas <= 2.0.2
numpy <= 1.24.4
matplotlib <= 3.7.1
# matplotlib-inline==0.1.6


